version: '3.8'
services:
  postgres:
    container_name: pg_container
    image: sbruce23/db_image:1.1
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: behappy
      POSTGRES_DB: sqlda
    ports:
      - "5432:5432"
  pgadmin:
    container_name: pgadmin4_container
    image: dpage/pgadmin4:7.6
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
    volumes:
      - ./db_image/servers.json:/pgadmin4/servers.json
      - ./sql_scripts:/home/sql_scripts
    ports:
      - "5050:80"
    entrypoint:
      - "/bin/sh"
      - "-c"
      - "/bin/echo 'postgres:5432:*:postgres:behappy' > /tmp/pgpassfile && chmod 600 /tmp/pgpassfile && /entrypoint.sh"  
  pynb:
    container_name: pynb_container
    image: sbruce23/pynb_image:1.1
    user: root
    restart: always
    volumes:
      - ./jupyter_notebooks:/home/notebooks
    ports:
      - "8888:8888"
      - "8797:8797"

volumes:
  sql_scripts:
  jupyter_notebooks:
    
